.icon-gallery {
	.filter-row {
		.filter-input {
			max-width: 40vw;
			margin: 0 auto;
		}
	}

	.icon-set {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
		gap: 20px;

		.icon-container {
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			gap: 15px;
			background-color: var(--theme-core-control-background-color);
			border: 1px solid var(--theme-core-control-border-color);
			border-radius: 4px;
			padding: 20px 15px;

			.icon {
				font-size: 48px;
			}

			.dx-button {
				margin: 0;
				border: 0;

				.icon {
					font-size: 13px;
					margin-right: 5px;
				}
			}
		}
	}
}
